## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
print(mouse_metadata)
print(study_results)

combined_data = study_results.merge(mouse_metadata, on="Mouse ID")

# Display the data table for preview
combined_data

    Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0       k403     Ramicane    Male          21          16
1       s185    Capomulin  Female           3          17
2       x401    Capomulin  Female          16          15
3       m601    Capomulin    Male          22          17
4       g791     Ramicane    Male          11          16
..       ...          ...     ...         ...         ...
244     z314     Stelasyn  Female          21          28
245     z435     Propriva  Female          12          26
246     z581    Infubinol  Female          24          25
247     z795     Naftisol  Female          13          29
248     z969     Naftisol    Male           9          30

[249 rows x 5 columns]
     Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0        b128          0           45.000000                 0
1        f932          0           45.000000                 0
2        g107          0           45.000000                 0
3        a457          0           45.000000                 0
4        c819          0           45.000000                 0
...       ...        ...                 ...               ...
1888     r944         45           41.581521                 2
1889     u364         45           31.023923                 3
1890     p438         45           61.433892                 1
1891     x773         45           58.634971                 4
1892     b879         45           72.555239                 2

[1893 rows x 4 columns]

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
...,...,...,...,...,...,...,...,...
1888,m601,25,33.118756,1,Capomulin,Male,22,17
1889,m601,30,31.758275,1,Capomulin,Male,22,17
1890,m601,35,30.834357,1,Capomulin,Male,22,17
1891,m601,40,31.378045,1,Capomulin,Male,22,17
1892,m601,45,28.430964,1,Capomulin,Male,22,17

In [2]:
# Checking the number of mice.

#check number of mice in original data set
print(len(study_results["Mouse ID"].unique()))
print(len(mouse_metadata["Mouse ID"].unique()))

#show that the number of mice in the combined data set is the same
print(len(combined_data["Mouse ID"].unique()))

249
249
249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 

#first show how many values there are for each timepoint - that is, how many mice have a given number of timepoints?
grouped_by_id = study_results.groupby("Mouse ID")
check_duplicates = grouped_by_id.count()

check_duplicates = check_duplicates["Timepoint"]
check_duplicates

per_value = check_duplicates.value_counts()
print(per_value)

#group all the mice by id and then by timepoint, so that we can count how many timepoints for each mouse there are
#to see if there are duplicate timepoints for the same mouse (e.g. the count is greater than one for at least one timepoint
#for a particular mouse)
timepoint_duplicates = study_results.groupby(["Mouse ID", "Timepoint"]).count()
timepoint_duplicates =timepoint_duplicates.drop(columns="Tumor Volume (mm3)")
timepoint_duplicates.columns = ["Timepoint Count"]
print(timepoint_duplicates)
timepoint_duplicates = timepoint_duplicates.loc[timepoint_duplicates["Timepoint Count"]>1]


timepoint_duplicates.head()

10    130
7      17
3      16
2      15
9      12
6      12
4      12
1      12
8      11
5      11
13      1
Name: Timepoint, dtype: int64
                    Timepoint Count
Mouse ID Timepoint
a203     0                        1
         5                        1
         10                       1
         15                       1
         20                       1
...                             ...
z969     25                       1
         30                       1
         35                       1
         40                       1
         45                       1

[1888 rows x 1 columns]

                    Timepoint Count
Mouse ID Timepoint
g989     0                        2
         5                        2
         10                       2
         15                       2
         20                       2

In [4]:
# Optional: Get all the data for the duplicate mouse ID. 
duplicate_mouse = combined_data.loc[combined_data["Mouse ID"]=="g989"]
duplicate_mouse

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
860,g989,0,45.000000,0,Propriva,Female,21,26
861,g989,0,45.000000,0,Propriva,Female,21,26
862,g989,5,48.786801,0,Propriva,Female,21,26
863,g989,5,47.570392,0,Propriva,Female,21,26
864,g989,10,51.745156,0,Propriva,Female,21,26
865,g989,10,49.880528,0,Propriva,Female,21,26
866,g989,15,51.325852,1,Propriva,Female,21,26
867,g989,15,53.442020,0,Propriva,Female,21,26
868,g989,20,55.326122,1,Propriva,Female,21,26
869,g989,20,54.657650,1,Propriva,Female,21,26
870,g989,25,56.045564,1,Propriva,Female,21,26
871,g989,30,59.082294,1,Propriva,Female,21,26
872,g989,35,62.570880,2,Propriva,Female,21,26

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
cleaned_combined_data = combined_data.loc[combined_data["Mouse ID"]!="g989", :]
cleaned_combined_data

,Mouse ID,Timepoint,Tumor Volume (mm3),Metastatic Sites,Drug Regimen,Sex,Age_months,Weight (g)
0,b128,0,45.000000,0,Capomulin,Female,9,22
1,b128,5,45.651331,0,Capomulin,Female,9,22
2,b128,10,43.270852,0,Capomulin,Female,9,22
3,b128,15,43.784893,0,Capomulin,Female,9,22
4,b128,20,42.731552,0,Capomulin,Female,9,22
...,...,...,...,...,...,...,...,...
1888,m601,25,33.118756,1,Capomulin,Male,22,17
1889,m601,30,31.758275,1,Capomulin,Male,22,17
1890,m601,35,30.834357,1,Capomulin,Male,22,17
1891,m601,40,31.378045,1,Capomulin,Male,22,17
1892,m601,45,28.430964,1,Capomulin,Male,22,17

In [6]:
# Checking the number of mice in the clean DataFrame.
print(len(cleaned_combined_data["Mouse ID"].unique()))

248

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method is the most straighforward, creating multiple series and putting them all together at the end.

#this summary statistics table shows data for the mice at the beginning of the study, at timepoint=0

#filter table so that it only shows the remaining mice and tumor values at timepoint 45
start_mice = cleaned_combined_data.loc[cleaned_combined_data["Timepoint"]==0]
print(f"There are {len(start_mice)} mice at the start of the study.")

index_values = ["Mean", "Median", "Variance", "Standard Deviation", "SEM"]

#write a function that computes the required values for each drug regimen and puts it in a series
def statsForTreatment(treatment, dataset):
    treatment_subset = dataset.loc[dataset["Drug Regimen"]==treatment]
    #get mean tumor volume
    tumor_mean = treatment_subset["Tumor Volume (mm3)"].mean()
    #get median tumor volume
    tumor_median = treatment_subset["Tumor Volume (mm3)"].median()
    #get variance in tumor volume
    tumor_variance = treatment_subset["Tumor Volume (mm3)"].var()
    #get standard deviation in tumor volume
    tumor_st_dev = treatment_subset["Tumor Volume (mm3)"].std()
    #get sem in tumor volume
    tumor_sem = treatment_subset["Tumor Volume (mm3)"].sem()
    
    output_df = pd.DataFrame({treatment:[tumor_mean, tumor_median, tumor_variance, tumor_st_dev, tumor_sem]}, index=index_values)
    return output_df

all_treatments = list(cleaned_combined_data["Drug Regimen"].unique())
print(all_treatments)

summary_stats_iterative = statsForTreatment(all_treatments[0], cleaned_combined_data)
summary_stats_iterative.index.rename = "Stat Variables"

for treatment in all_treatments[1:]:
    new_stats = statsForTreatment(treatment, start_mice)
    new_stats.index.rename = "Stat Variables"
    summary_stats_iterative = summary_stats_iterative.merge(new_stats, left_index = True, right_index = True)
    
summary_stats_iterative

There are 248 mice at the start of the study.
['Capomulin', 'Ketapril', 'Naftisol', 'Infubinol', 'Stelasyn', 'Ramicane', 'Zoniferol', 'Propriva', 'Placebo', 'Ceftamin']

,Capomulin,Ketapril,Naftisol,Infubinol,Stelasyn,Ramicane,Zoniferol,Propriva,Placebo,Ceftamin
Mean,40.675741,45.0,45.0,45.0,45.0,45.0,45.0,45.0,45.0,45.0
Median,41.557809,45.0,45.0,45.0,45.0,45.0,45.0,45.0,45.0,45.0
Variance,24.947764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Standard Deviation,4.994774,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
SEM,0.329346,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [24]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# This method produces everything in a single groupby function

#this summary statistics table shows the tumor volume for the mice by treatment at the end of the study (timepoint = 45)
final_mice = cleaned_combined_data.loc[cleaned_combined_data["Timepoint"]==45]
print(f"There are {len(final_mice)} mice left at the end of the study.")


#group by drug regimen to get summary stats
grouped_treatments = final_mice.groupby("Drug Regimen")

#calculate the mean across all treatments
final_treatment_tumor_means = pd.DataFrame(grouped_treatments.mean()["Tumor Volume (mm3)"])
final_treatment_tumor_means.columns = ["Mean"]

#set the summary stats dataframe to be used for the final mice statistics
treatment_outcome_summary_stats = final_treatment_tumor_means

#calculate the median across all treatments
final_treatment_tumor_medians = pd.DataFrame(grouped_treatments.median()["Tumor Volume (mm3)"])
final_treatment_tumor_medians.columns = ["Median"]

#calculate the variance across all treatments
final_treatment_tumor_variances = pd.DataFrame(grouped_treatments.var()["Tumor Volume (mm3)"])
final_treatment_tumor_variances.columns = ["Variance"]

#calculate the standard deviation across all treatments
final_treatment_tumor_st_dev = pd.DataFrame(grouped_treatments.std()["Tumor Volume (mm3)"])
final_treatment_tumor_st_dev.columns = ["Standard Deviation"]

#calculate the sem across all treatments
final_treatment_tumor_sem = pd.DataFrame(grouped_treatments.sem()["Tumor Volume (mm3)"])
final_treatment_tumor_sem.columns = ["SEM"]

#add all the calculated columns to the final summary stats table
treatment_outcome_summary_stats = treatment_outcome_summary_stats.merge(final_treatment_tumor_medians, on="Drug Regimen")
treatment_outcome_summary_stats = treatment_outcome_summary_stats.merge(final_treatment_tumor_variances, on="Drug Regimen")
treatment_outcome_summary_stats = treatment_outcome_summary_stats.merge(final_treatment_tumor_st_dev, on="Drug Regimen")
treatment_outcome_summary_stats = treatment_outcome_summary_stats.merge(final_treatment_tumor_sem, on="Drug Regimen")

treatment_outcome_summary_stats = treatment_outcome_summary_stats.transpose()
treatment_outcome_summary_stats

There are 130 mice left at the end of the study.

Drug Regimen,Capomulin,Ceftamin,Infubinol,Ketapril,Naftisol,Placebo,Propriva,Ramicane,Stelasyn,Zoniferol
Mean,36.236114,64.132421,65.755562,70.662958,69.265506,68.084082,66.258529,34.955595,68.438310,65.960888
Median,37.311846,64.299830,66.083066,69.872251,69.563621,69.042841,64.957562,34.848627,69.299149,65.684689
Variance,31.460537,10.585242,11.787426,23.229260,26.079104,20.098783,24.967290,30.101010,27.340818,14.100301
Standard Deviation,5.608969,3.253497,3.433282,4.819674,5.106770,4.483167,4.996728,5.486439,5.228845,3.755037
SEM,1.223977,0.902358,1.144427,1.453186,1.416363,1.351726,1.888586,1.226805,1.576556,1.003576

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pandas.

In [ ]:
# Generate a bar plot showing the total number of mice for each treatment throughout the course of the study using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of time point versus tumor volume for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of mouse weight versus average tumor volume for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen